<mat-card-title>Confirm Vehicle</mat-card-title>
<mat-divider style="margin-bottom: 1rem;"></mat-divider>
<mat-card-content>
  Series: {{ vehicle.chassisId.chassisSeries }} <br>
  Number: {{ vehicle.chassisId.chassisNumber }} <br>
  Type: {{ vehicle.type }} <br>
  No. of Passengers: {{ vehicle.numberOfPassengers }} <br>
  Color: {{ vehicle.color }} <br>
</mat-card-content>
<div mat-dialog-actions>
  <div style="margin: auto;">
    <button mat-flat-button (click)="closeDialog()">Close</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="vehicle">Add</button>
  </div>
</div>
