<h1 style="margin: 0 0.5rem">Find Vehicle</h1>
<mat-divider></mat-divider>

<form class="example-container" [formGroup]="searchForm">
  <mat-form-field appearance="standard">
    <mat-label>Chassis Series</mat-label>
    <input
      matInput
      type="text"
      placeholder="volvo"
      formControlName="chassisSeries"
      [errorStateMatcher]="matcher"
      required
    />
    <mat-error *ngIf="searchForm.get('chassisSeries')?.hasError('required')">
      Chassis series is <strong>REQUIRED</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Chassis Number</mat-label>
    <input
      matInput
      type="text"
      placeholder="0001"
      formControlName="chassisNumber"
      [errorStateMatcher]="matcher"
      required
    />
    <mat-error *ngIf="!searchForm.get('chassisNumber')?.hasError('required') && !searchForm.get('chassisNumber')?.hasError('number')">
      Chassis number should be a <strong>POSITIVE NUMBER</strong>
    </mat-error>
    <mat-error *ngIf="searchForm.get('chassisNumber')?.hasError('required')">
      Chassis number is <strong>REQUIRED</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="searchForm.invalid" (click)="searchVehicle()">
    <mat-icon>search</mat-icon>
  </button>
</form>
